/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* icons */

.AnaheimDucks_logo {
    background: url('/icons/AnaheimDucks.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.ArizonaCoyotes_logo {
    background: url('/icons/ArizonaCoyotes.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.BostonBruins_logo {
    background: url('/icons/BostonBruins.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.BuffaloSabres_logo {
    background: url('/icons/BuffaloSabres.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.CalgaryFlames_logo {
    background: url('/icons/CalgaryFlames.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.CarolinaHurricanes_logo {
    background: url('/icons/CarolinaHurricanes.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.ChicagoBlackhawks_logo {
    background: url('/icons/ChicagoBlackhawks.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.ColoradoAvalanche_logo {
    background: url('/icons/ColoradoAvalanche.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.ColumbusBlueJackets_logo {
    background: url('/icons/ColumbusBlueJackets.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.DallasStars_logo {
    background: url('/icons/DallasStars.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.DetroitRedWings_logo {
    background: url('/icons/DetroitRedWings.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.EdmontonOilers_logo {
    background: url('/icons/EdmontonOilers.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.FloridaPanthers_logo {
    background: url('/icons/FloridaPanthers.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.LosAngelesKings_logo {
    background: url('/icons/LosAngelesKings.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.MinnesotaWild_logo {
    background: url('/icons/MinnesotaWild.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.MontrealCanadiens_logo {
    background: url('/icons/MontrealCanadiens.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.NashvillePredators_logo {
    background: url('/icons/NashvillePredators.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.NewJerseyDevils_logo {
    background: url('/icons/NewJerseyDevils.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.NewYorkIslanders_logo {
    background: url('/icons/NewYorkIslanders.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.NewYorkRangers_logo {
    background: url('/icons/NewYorkRangers.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.OttawaSenators_logo {
    background: url('/icons/OttawaSenators.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.PhiladelphiaFlyers_logo {
    background: url('/icons/PhiladelphiaFlyers.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.PittsburghPenguins_logo {
    background: url('/icons/PittsburghPenguins.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.SanJoseSharks_logo {
    background: url('/icons/SanJoseSharks.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.SeattleKraken_logo {
    background: url('/icons/SeattleKraken.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.StLouisBlues_logo {
    background: url('/icons/StLouisBlues.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.TampaBayLightning_logo {
    background: url('/icons/TampaBayLightning.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.TorontoMapleLeafs_logo {
    background: url('/icons/TorontoMapleLeafs.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.VancouverCanucks_logo {
    background: url('/icons/VancouverCanucks.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.VegasGoldenKnights_logo {
    background: url('/icons/VegasGoldenKnights.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.WashingtonCapitals_logo {
    background: url('/icons/WashingtonCapitals.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.WinnipegJets_logo {
    background: url('/icons/WinnipegJets.png');
    height: 24px;
    width: 36px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}


